body{
    background-image:url("../images/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    font-family:'Bungee Shade', cursive;
    font-size: 3rem;
    text-align: center;
}
.pressbtn{
    font-family: 'Inconsolata', monospace;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;

   
}
.card{
    width: 40rem;
    margin-left: 18rem;
    height: 27rem;
    border: black solid;
    padding:10px;
}

